:root {
    --pyscf-primary: #3677e0;
    --pyscf-accent: #3677e0;
}

html[data-theme="light"] {
    --pst-color-primary: var(--pyscf-primary);
    --pst-color-secondary: var(--pyscf-accent);
}

html[data-theme="dark"] {
    --pst-color-primary: var(--pyscf-primary);
    --pst-color-secondary: var(--pyscf-accent);
}
