name: Slack-notification

on:
  pull_request:
    types: [assigned, opened, closed, reopened, review_requested]

jobs:
  SlackNotification:
    runs-on: ubuntu-latest
    steps:
      - name: Slack Notification
        run: |
            curl -X POST -H 'Content-type: application/json' --data '{"text": "${{ github.events }}", "attachment": ["title": "Pull request: ${{ github.event.pull_request.title }}", "text": "${{ github.event.pull_request.url }}", "author_name": "${{ github.actor }}", "author_icon": "${{ github.event.sender.avatar_url }}",]}' "${{ secrets.SLACK_WEBHOOK_URL }}"

